<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="discrption" content="parallax one page" />
    <meta name="keyword"
        content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />

    <!--  Title -->
    <title>Droow - Creative Showcase Portfolio Template</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body class="v-light hamburger-menu dsn-effect-scroll dsn-ajax" data-dsn-mousemove="true">
    <div data-dsn-temp="light"></div>

    <%- include('./partials/navbar') %>

    <main class="main-root">
        <div id="dsn-scrollbar">
            <header>
                <div class="header-hero header-hero-2 ">
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="col-lg-12">
                                <div class="contenet-hero">
                                    <h1>KREATIVENEST, OUR GENE</h1>
                                    <p>Making simplicity
                                        look divine and
                                        open a doorway for
                                        living.</p>
                                    <a href="#" class="view-case scroll-down scroll-to">Scroll Down <img
                                            src="assets/img/arrow-right-dark.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="wrapper">
                <div class="root-about">
                    <div class="box-seat box-seat-full">
                        <div class="container-fluid">
                            <div class="inner-img" data-dsn-grid="move-up">
                                <img src="assets/img/about.jpg" alt="" data-dsn-y="30%" data-dsn-scale="1">
                            </div>
                            <div class="pro-text">
                                <h3 data-dsn-animate="up">Hello we are, <br> Dsn Grid.</h3>
                                <p data-dsn-animate="up">KreativeNest started out as
                                    a result of one man’s desire
                                    to add value and be
                                    original. KreativeNest,
                                    first came to be as Sam Stix
                                    Koncept in August 2019
                                    and was rebranded
                                    January 2021 to be what is
                                    now KreativeNest. The
                                    journey so far has seen us
                                    manage our challenges to
                                    achieve desireable result
                                    and has made us an
                                    household name in the
                                    world of cinematography
                                    as we have continued to
                                    give our client quality
                                    productions birth from
                                    minds hungry to get
                                    creative.
                                </p>
                            </div>
                        </div>
                    </div>

                    <section class="intro-about section-margin section-padding hidden">
                        <div class="mask-bg"></div>
                        <div class="container">
                            <div class="row align-items-center h-100">
                                <div class="col-lg-6">
                                    <div class="box-im">
                                        <div class="cover-bg" data-image-src="assets/img/skills.jpg"></div>
                                    </div>
                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <div class="small-title">
                                        <span class="counter">01</span>
                                        <h5>About Us</h5>
                                    </div>

                                    <div class="content">
                                        <h5>Speaking of employee happiness -</h5>
                                        <h3>Our two goals are employee happiness and client happiness</h3>
                                        <p>We won the Best Workplace award from Great Place to Work 3 times in Finland,
                                            and
                                            once in all of
                                            Europe.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="our-services section-margin">
                        <div class="container">
                            <div class="one-title" data-dsn-animate="up">
                                <div class="title-sub-container">
                                    <p class="title-sub">WHAT WE DO</p>
                                </div>
                                <!-- <h2 class="title-main">New Branding Agency</h2> -->
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="services-item">
                                        <div class="line-before"></div>
                                        <h4 class="subtitle">BRANDING</h4>
                                        <p>We effectively translate our clients
                                            imaginations into awesome video
                                            copies that projects their brand as
                                            standouts in their niche. </p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="services-item">
                                        <div class="line-before"></div>
                                        <h4 class="subtitle">FILM PRODUCTION</h4>
                                        <p>AAll through the production
                                            journey as far as it is Video,
                                            KreativeNest is your safe space for
                                            creativity.</p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="services-item">
                                        <div class="line-before"></div>
                                        <h4 class="subtitle">VIDEOGRAPHY</h4>
                                        <p>That special event should not be
                                            forgotten, let us help you record
                                            time and relive memories. </p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="services-item">
                                        <div class="line-before"></div>
                                        <h4 class="subtitle">MOTION GRAPHICS</h4>
                                        <p>Original ideas birth to life in
                                            grand style and with a mind of its
                                            own to wow you. </p>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </section>

                    <center><a  href="tel:+2348147433290" class="btn btn-primary" style="background-color:black;color:white;padding:20px 60px; border-radius:5px;margin-right:5px;" ><i class="fa fa-phone" aria-hidden="true"></i> Call Us Now</a>  <a href="https://wa.me/message/7TZKQSHROTH4C1" style="margin-left:30px;background-color:white;color:black;border:1px solid black;padding:20px 20px; border-radius:5px;" > <i class="fab fa-whatsapp" style="margin-right: 3px;"></i> Chat a Cinematographer </a> </center>

                    <section class="our-team section-margin section-padding">
                        <div class="container">
                            <div class="one-title" data-dsn-animate="up">
                                <div class="title-sub-container">
                                    <p class="title-sub">our team</p>
                                </div>
                                <h2 class="title-main">The best team ever!</h2>
                            </div>

                            <div class="custom-container">
                                <div class="slick-slider">
                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/1.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>Blake Hamilton</h4>
                                            <p>Project manager</p>
                                        </div>
                                    </div>

                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/2.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>Ahmed Shawky</h4>
                                            <p>Web Designer</p>
                                        </div>
                                    </div>

                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/3.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>John Doe</h4>
                                            <p>Engineer</p>
                                        </div>
                                    </div>

                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/4.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>Hesham Megahed</h4>
                                            <p>Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<!-- 
                    <section class="our-client section-margin">
                        <div class="container">
                            <div class="one-title" data-dsn-animate="up">
                                <div class="title-sub-container">
                                    <p class="title-sub"> Client see</p>
                                </div>
                                <h2 class="title-main">Feedback from our clients.</h2>
                            </div>

                            <div class="client-curs">
                                <div class="client-item">
                                    <div>
                                        <p>
                                            Dave & his team at Blacksmith Agency were incredible partners
                                            at a critical time for our company. Day in & day out, they
                                            were there for us every step of the way delivering results for
                                            us & our high profile corporate partner.
                                        </p>
                                        <h5>Brandon Barbello</h5>
                                        <span>Vivalnk Inc | Google IO</span>
                                    </div>
                                </div>

                                <div class="client-item">
                                    <div>
                                        <p>
                                            Dave & his team at Blacksmith Agency were incredible partners
                                            at a critical time for our company. Day in & day out, they
                                            were there for us every step of the way delivering results for
                                            us & our high profile corporate partner.
                                        </p>
                                        <h5>Brandon Barbello</h5>
                                        <span>Vivalnk Inc | Google IO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->

                    <!-- <section class="brand-client section-margin">
                        <div class="container">
                            <div class="one-title" data-dsn-animate="up">
                                <div class="title-sub-container">
                                    <p class="title-sub">Our clients</p>
                                </div>
                                <h2 class="title-main">Your successful, our reputation</h2>
                            </div>

                            <div class="wapper-client">
                                <div class="logo-box">
                                    <img src="assets/img/logo/1-light.png" alt="">

                                    <div class="info">
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-plus"></i>
                                            </div>

                                            <div class="entry">
                                                <div>
                                                    <h5>Google</h5>
                                                    <a href="#">www.google.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="logo-box">
                                    <img src="assets/img/logo/2-light.png" alt="">

                                    <div class="info">
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-plus"></i>
                                            </div>

                                            <div class="entry">
                                                <div>
                                                    <h5>Google</h5>
                                                    <a href="#">www.google.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="logo-box">
                                    <img src="assets/img/logo/3-light.png" alt="">

                                    <div class="info">
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-plus"></i>
                                            </div>

                                            <div class="entry">
                                                <div>
                                                    <h5>Google</h5>
                                                    <a href="#">www.google.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="logo-box">
                                    <img src="assets/img/logo/4-light.png" alt="">

                                    <div class="info">
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-plus"></i>
                                            </div>

                                            <div class="entry">
                                                <div>
                                                    <h5>Google</h5>
                                                    <a href="#">www.google.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="logo-box">
                                    <img src="assets/img/logo/5-light.png" alt="">

                                    <div class="info">
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-plus"></i>
                                            </div>

                                            <div class="entry">
                                                <div>
                                                    <h5>Google</h5>
                                                    <a href="#">www.google.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="logo-box">
                                    <img src="assets/img/logo/6-light.png" alt="">

                                    <div class="info">
                                        <div class="content">
                                            <div class="icon">
                                                <i class="fas fa-plus"></i>
                                            </div>

                                            <div class="entry">
                                                <div>
                                                    <h5>Google</h5>
                                                    <a href="#">www.google.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->

                </div>

                <!-- <section class="contact-up section-margin section-padding">
                    <div class="container">
                        <div class="c-wapp">
                            <a href="contact.html" class="effect-ajax">
                                <span class="hiring">
                                    We are hiring
                                </span>
                                <span class="career">
                                    Dare and contact us immediately!
                                </span>
                            </a>
                        </div>
                    </div>
                </section> -->

                <footer>
                    <div class="info">
                        <div class="contact-footer">
                            <a href="tel:010" class="phone image-zoom" data-dsn="parallax">+2348147433290</a>
                            <a href="info@kreativenest.com" class="email image-zoom" data-dsn="parallax">info@kreativenest.com</a>
                        </div>
                        <div class="copyright-social">
                            <p>© 2019 kreativeNest</p>
                            <ul>
                                <li class="image-zoom" data-dsn="parallax"><a href="http://www.instagram.com/kreativenest_official" target="_blank">Instagram</a>
                                </li>
                                <li class="image-zoom" data-dsn="parallax"><a href="https://web.facebook.com/kreativenest_official-113150937526710" target="_blank">Facebook</a></li>
                                <li class="image-zoom" data-dsn="parallax"><a href="http://www.twitter.com/kreative_nest" target="_blank">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </main>

    <!-- Wait Loader -->
    <div class="wait-loader">
        <div class="loader-inner">
            <div class="loader-circle">
                <div class="loader-layer"></div>
            </div>
        </div>
    </div>
    <!-- // Wait Loader -->


    <!-- cursor -->
    <div class="cursor">

        <div class="cursor-helper cursor-view">
            <span>VIEW</span>
        </div>

        <div class="cursor-helper cursor-close">
            <span>Close</span>
        </div>

        <div class="cursor-helper cursor-link"></div>
    </div>
    <!-- End cursor -->

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>