<div id="content-wrapper"  class="d-flex flex-column"></div>
<div id="content" class="mine">

<nav class="navbar-expand navbar-light bg-white topbar mb-4 fixed-top shadow-sm" style="margin-left:%;height: 70px;padding-top: 15px">
  <div class="row">
    <div class="col-sm-2" style="padding-left:50px;">
      <img class="img-profile  mr-2" src="/assets/images/logo/dark-logo.png" style="width: 70%">
    </div>
    <div class="col-sm-9">
      <ul class="navbar-nav float-right "  style="margin-left: 80px;position :relative;left:50px;"  >
        
  
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          
            
          </a>
         
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger badge-counter">3+</span>
          </a>     
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger badge-counter">6+</span>
          </a>     
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars fa-fw"></i>
            <span class="badge badge-danger badge-counter">8+</span>
          </a>     
        </li>
      
     
      </ul>
     
    </div>
    <div class="col-sm-1">
     <div class="" style="margin-top:5px;margin-left: 35px;">
        <img src="https://www.vhv.rs/dpng/d/413-4135107_frame-circle-clipart-doodle-frame-png-circular-transparent.png" width="60%" class="rounded float-left" alt="Cinque Terre">
     </div>
    </div>
    
    
  </div>

  </nav>
