<div class="sidebar shadow">
                       
                        
    <ul>
        <li style="margin-top: 40px;"><a href="/admin/dashboard" ><i class="fa fa-user" aria-hidden="true" style="margin-right: 15px;" ></i> Dashboard</a></li>
        <li><a href="/admin/landingPage" ><i class="fa fa-balance-scale" style="margin-right: 12px;"></i> Landing Page</a></li> 
        <li><a href="/admin/portfolio" ><i class="fa fa-briefcase" aria-hidden="true" style="margin-right: 15px;"></i>Latest Portfoio</a></li>
        <li><a href="/admin/services" ><i class="fa fa-industry" aria-hidden="true"  style="margin-right: 15px;"></i>Services</a></li>
        <li><a href="/admin/subscribers" > <i class="fa fa-users" style="margin-right: 15px;"></i>Subscriber</a></li>
        <li><a href="/admin/Feedbacks" ><i class="fa fa-phone" aria-hidden="true" style="margin-right: 15px;"></i>Contact US</a></li>
        <li><a href="/admin/Feedbacks" ><i class="fa fa-comments-o" aria-hidden="true" style="margin-right:15px;" ></i>Feedbacks</a></li>
        <li><a href="/admin/logout" > <i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 15px;"></i>Logout</a></li>
        
    </ul>
   
</div>